*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
nav{
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-block: 1em;
}
nav a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1em;
}
ul{
    display: flex;
}

#logo{
    text-transform: uppercase;
}
#hero{
    width: 70%;
    margin: 2.5em auto;
    line-height: 2em;
}
#hero h1{
    text-transform: capitalize;
}